<!DOCTYPE html>
<html>
<head>
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/images/logoapp.jpg" type="image/x-icon">

</head>
<body class="bg-cover bg-center" style="background-image: url('/images/fondo.jpeg');">

    
    <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white bg-opacity-80 p-8 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-3xl font-bold text-center text-orange-600 mb-6 flex items-center justify-center">
                Iniciar Sesión
                <span class="ml-2 relative">
                    <i class="fas fa-info-circle text-orange-600 cursor-pointer" id="info-icon"></i>
                </span>
            </h1>
            <div id="info-message" class="hidden bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-4" role="alert">
                <p class="font-bold">Instrucciones</p>
                <p>Para ingresar coloque su nombre y apellido todo en mayúscula respetando los tildes</p>
            </div>
            <form action="/login" method="post" class="space-y-4">
                <div>
                    <label for="usuario" class="block font-medium text-gray-700">Usuario:</label>
                    <input type="text" id="usuario" name="usuario" required class="block w-full px-4 py-2 border-2 border-orange-300 rounded-md bg-orange-50 focus:border-orange-500 focus:ring focus:ring-orange-200 focus:ring-opacity-50">
                </div>
                <div>
                    <label for="contrasena" class="block font-medium text-gray-700">Contraseña:</label>
                    <div class="relative">
                        <input type="password" id="contrasena" name="contrasena" required class="block w-full px-4 py-2 border-2 border-orange-300 rounded-md bg-orange-50 focus:border-orange-500 focus:ring focus:ring-orange-200 focus:ring-opacity-50">
                        <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
                            <label class="bg-gray-300 hover:bg-gray-400 rounded px-2 py-1 text-sm text-gray-600 font-mono cursor-pointer js-password-label" for="toggle">Mostrar</label>
                            <input class="js-password-toggle" type="checkbox" id="toggle">
                        </div>
                    </div>
                </div>
                <div>
                    <label for="establecimiento" class="block font-medium text-gray-700">Establecimiento:</label>
                    <select id="establecimiento" name="establecimiento" required class="block w-full px-4 py-2 border-2 border-orange-300 rounded-md bg-orange-50 focus:border-orange-500 focus:ring focus:ring-orange-200 focus:ring-opacity-50">
                        <option value="">Selecciona un establecimiento</option>
                        <% establecimientos.forEach(establecimiento => { %>
                            <option value="<%= establecimiento.nombre %>"><%= establecimiento.nombre %></option>
                        <% }) %>
                    </select>
                </div>
                <div>
                    <label for="curso" class="block font-medium text-gray-700">Curso:</label>
                    <select id="curso" name="curso" required class="block w-full px-4 py-2 border-2 border-orange-300 rounded-md bg-orange-50 focus:border-orange-500 focus:ring focus:ring-orange-200 focus:ring-opacity-50">
                        <option value="">Selecciona un curso</option>
                        <% establecimientos.forEach(establecimiento => { %>
                            <% establecimiento.cursos.forEach(curso => { %>
                                <option value="<%= curso %>"><%= curso %></option>
                            <% }) %>
                        <% }) %>
                    </select>
                </div>
                <div>
                    <input type="submit" value="Ingresar" class="block w-full px-4 py-2 bg-orange-500 text-white font-bold rounded-md hover:bg-orange-600 focus:bg-orange-600 focus:outline-none focus:ring focus:ring-orange-200 focus:ring-opacity-50">
                </div>
            </form>
        </div>
    </div>

    <script>$(document).ready(function() {
        const passwordToggle = $('.js-password-toggle');
        const passwordLabel = $('.js-password-label');
    
        passwordToggle.change(function() {
            const input = $('#contrasena');
            const inputType = input.attr('type');
    
            if (inputType === 'password') {
                input.attr('type', 'text');
                passwordLabel.text('Ocultar');
            } else {
                input.attr('type', 'password');
                passwordLabel.text('Mostrar');
            }
        });
    });
    document.getElementById('info-icon').addEventListener('click', function() {
    const infoMessage = document.getElementById('info-message');
    infoMessage.classList.toggle('hidden');
});
    </script>
</body>
</html
