body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #4D4D4D;
}

h1 {
    text-shadow: 2px 2px 2px #FFD9C2;
    animation: bounce 2s infinite;
}

form {
    background-color: rgba(255, 236, 219, 0.8);
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

select, input[type="text"], input[type="password"] {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: rgba(255, 242, 230, 0.8);
    border-color: #FF9D76;
}

input[type="submit"] {
    background-color: #FF6B35;
}

input[type="submit"]:hover {
    background-color: #FF8C66;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -120px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#info-message {
    transition: opacity 0.3s ease-in-out;
}

#info-message.hidden {
    opacity: 0;
}